{{!
    @template theme_boost3/gear_menu

    Moodle-3-style consolidated actions menu (Bootstrap dropdown).

    Context variables:
    - title string Accessible label
    - items array of { text, url, active } or { header } or { divider }
}}
<div class="action-menu moodle-actionmenu d-inline theme-boost3-gear">
    <div class="menubar d-flex" role="menubar">
        <div class="action-menu-trigger">
            <div class="dropdown">
                <a
                    href="#"
                    tabindex="0"
                    role="button"
                    id="theme-boost3-gear-btn"
                    class="dropdown-toggle icon-no-margin"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    title="{{title}}"
                    aria-label="{{title}}"
                >
                    <i class="icon fa fa-cog fa-fw" title="{{title}}" aria-label="{{title}}"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu" aria-labelledby="theme-boost3-gear-btn">
                    {{#items}}
                        {{#divider}}
                            <div class="dropdown-divider" role="separator"></div>
                        {{/divider}}
                        {{#header}}
                            <h6 class="dropdown-header theme-boost3-gear-group-label">{{header}}</h6>
                        {{/header}}
                        {{^divider}}
                            {{^header}}
                                <a class="dropdown-item {{#active}}active{{/active}}" href="{{url}}" role="menuitem">{{text}}</a>
                            {{/header}}
                        {{/divider}}
                    {{/items}}
                </div>
            </div>
        </div>
    </div>
</div>
